@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #ffffff;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}
/* Testo input più scuro */
input,
textarea,
select {
  color: rgb(31 41 55) !important; /* gray-800 - molto scuro */
}

/* Placeholder più scuri */
input::placeholder,
textarea::placeholder {
  color: rgb(107 114 128); /* gray-500 */
  opacity: 1;
}